<h2>New SLvC</h2>
<form method="post" action="/slvc/new">
    <div class="input-container">
        <input list="company" class="text-input" name="company" placeholder="Select a Company.."/>
        <label class="label" for="company">Company</label>
        <datalist id="company">
            <%Company.all.each do |c|%>
                <option><%=c.name%></option>
            <%end%>
        </datalist>
    </div>
    <input type="submit" id="button" value="Submit" />
</form>