<h3>SLvC Test</h3>

<table>
    <tr>
        <th>Company</th>
        <th>Count</th>
    </tr>
    <tr>
        <td><%=@company.name%></td>
        <td><%=@company.stores.count%></td>
    </tr>
    <%@compgeo.each do |key, value|%>
        <tr>
            <td><%=key.to_s%></td>
            <td><%=value%></td>
        </tr>
    <%end%>
</table>

