<h1>New Report</h1>

<% if @report.errors.any? %>
  <div id="error_explanation">
    <h2><%= @report.errors.count %> error(s) prohibited this report from being saved:</h2>
 
    <ul>
    <% @report.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<form method="post" action="/reports">
  <p>
    <div><label for="title">Title</label></div>
    <input id="title" type="text" name="report[title]" value="<%= @report.title %>" />
  </p>
  <input type="submit" value="Create Report" />
</form>